<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="cyber_bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
    <userSettings>
        <cyber_bot.Properties.Settings>
            <setting name="masterCookie" serializeAs="String">
                <value>PnJLdaQ5aK6WieRWuazWzo7vGbaSDM7c6WnxJ4ovjQnkeRCKFU3mVYxsCjp6Zks2sVziqALriSBHoHyW8j1BYn8gH8vuWSE2vnse0GzKxzrClAgewhKwMxNz3Z9scZg7PxgYskXT91xtcJM2pNV0PDSXeVp8n14FsVVxFRtfQc3TrIQeEKxbIRmJtZ19DJz6Vs44dtvylwMOl1Hq0HCJdUIYb-yJrHxzLqb3G3CepD3kDKLImd5AGrAk9J3CdXSu3SRVYH_s2eBG7LQFkWeDvpRGIo5-1UayiGhbDYgI5kfKzzeVqeVzhK7mss-5ZstMe8n54Lh8p48EE7q-2AGrozFyzHyj6q3Vu1a8brJMmT7MlYqX0-3k0Qgv1-i0Qs3T5wVSxLcThTrT8GQTSwkvfrzUQNIdMdz5VDzXTL_8tYIhxMyoQhTmfYyflUSxOrgpS8qy3KuIFD3gy1BtjhvUNexCBOY</value>
            </setting>
        </cyber_bot.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
